<section class="container my-5">
        <section>
        <section class="d-flex justify-content-between">
            <h2 class="text-white">Filmes Disponíveis</h2>
            <a href="/filme/create" class="btn btn-cadastro py-3 text-white">Cadastrar Novo Filme</a>
        </section>
    </section>

    <hr style="color: aliceblue;"/>

    <section class="my-4 container">
        <section>
            <section class="p-0 d-flex">
                {{#each dados}}
                <div class="d-flex flex-column mx-2 my-2">
                    <div class="card box-shadow-box" style="width: 13rem; background-color: #1a1815; border:none">
                        <img src="logo_com_fundo.png" class="card-img-top card-sessao bd-radius" alt="">
                    </div>
                    <div class="card-body my-3 text-white box-shadow-box bgc-dark py-2 px-2 bd-radius" style="width: 13rem;">
                        <p class="card-title font-12 font-text">Título: {{dataValues.titulo}}</p>
                        <p class="card-text font-12 font-text">Duração: {{dataValues.duracao}}</p>
                        <p class="card-text font-12 font-text">Gênero: {{dataValues.genero}}</p>
                        <p class="card-text font-12 font-text">Classificação: {{dataValues.classificacao}}</p>
                        <div class="justify-content-center">
                            <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                        </div>
                    </div>
                </div>
                {{>modalDelete idItem=dataValues.id}}
            {{/each}}
        </section>
        </section>
    </section>
</section> 