<section class="container">
    <section class="container my-5">
    <section class="d-flex justify-content-between">
        <h2 class="text-white">Sessões Disponíveis</h2>
        <a href="/sessao/create" class="btn btn-cadastro py-3">Cadastrar Nova Sessão</a>
    </section>
</section>

<hr style="color: aliceblue;"/>

{{!-- <section class="my-4 container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>titulo</th>
                <th>Gênero</th>
                <th>Classificação</th>
                <th>Filme</th>
                <th>Duração</th>
                <th>Data</th>
                <th>ação</th>
            </tr>
        </thead>
        <tbody>
            {{#each dados}}
            <tr>
                <td>{{dataValues.id}}</td>
                <td>{{dataValues.titulo}}</td>
                <td>{{dataValues.genero}}</td>
                <td>{{dataValues.classificacao}}</td>
                <td>{{dataValues.nome}}</td>
                <td>{{dataValues.data}}</td>
                <td>{{filme.dataValues.duracao}}</td>
                <td>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </td>
            </tr>
            {{>modalDelete idItem=dataValues.id}}
            {{/each}}
        </tbody>
    </table>
</section> --}}
<section class="row">
    <section class="col-md-4">
        <div class="card" style="width: 18rem; height: 40vh">
            <img src="logo_com_fundo.png" class="card-img-top card-sessao" alt="">

            {{#each dados}}
                <div class="card-body">
                            <h5 class="card-text">Filme: {{filme.dataValues.nome}}</h5>
                            <h5 class="card-text">Data: {{dataValues.data}}</h5>
                            <h5 class="card-text">Horario: {{dataValues.horario}}</h5>
                        </div>
                    </div>
                </div>
            {{>modalDelete idItem=dataValues.id}}
            {{/each}}
        </section>
</section>
</section>
